@page "/Info"
<h3>Places to find 3D files</h3>
<div class="card-columns">
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Thingiverse</h4>
            <p class="card-text">Thingiverse has alot of 3D models - all free.</p>
            <form action="https://www.thingiverse.com">
                    <input type="submit" value="Go to Thingiverse" />
                </form>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Printables</h4>
            <p class="card-text">Prusa's own 3D site. Alot of models, all free.</p>
            <form action="https://www.printables.com/model">
                <input type="submit" value="Go to Printables" />
            </form>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Cults3D</h4>
            <p class="card-text">Cults has a mix of free models and paid ones.</p>
            <form action="https://cults3d.com/en">
                <input type="submit" value="Go to Cults3D" />
            </form>
        </div>
    </div>
</div>
@code {

}
